<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INFOLIBRI - Resultados</title>
    <link href="{{ url_for('static', filename='css/node_modules/tailwindcss/dist/tailwind.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!--[if IE]><link rel="shortcut icon" href="/includes/logo/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='logo/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo/favicon.png') }}">
</head>

<body class=" mx-auto items-center">


<form action="{{ url_for('JSON') }}" id="formJSON" method="post"></form>
<form action="{{ url_for('ImportarDados') }}" id="FormImportar" method="post"><form>


    <a href="{{ url_for('FormInicio') }}">
        <img class="m-auto logo w-40 mt-6" src="{{ url_for('static', filename='logo/logo.svg') }}" alt="logo">
    </a>

    <div class="mt-20 mb-20 w-full justify-center min-h-screen">
    <div name="pais" value={{form_pais}}>
    </div>
        <!-- Two columns -->
        <div class="struct w-full m-auto px-12">
            <div class="p-8 flex sm:flex-col md:flex-col">
                <div class="rounded overflow-hidden shadow-lg">
                    <div  class="px-6 py-4 mt-4">
                        {% if "Desculpe" not in fim and "não" not in fim %}
                        <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
                            <p class="font-bold">Sucesso!</p>
                            <p class="text-sm">{{ fim }}</p>
                        </div>
                        {% endif %}
                        {% if "Desculpe" in fim or "não" in fim %}
                        <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
                            <p class="font-bold">Algo de errado aconteceu!</p>
                            <p class="text-sm">{{ fim }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    <div class="w-40 m-auto py-8 px-3">
        <form method="get">
            <button formaction="{{ url_for('FormInicio') }}"
            class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 w-full border-b-4 border-blue-700 hover:border-blue-500 rounded">
                Voltar
            </button>
        <form>
    </div>

    <button class="bg-blue-600 hover:bg-gray-700" onclick="topFunction()" id="scroll-top" title="Volta ao topo">

        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">

            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                viewBox="0 0 24 24" style=" fill: #fff;">
                <path d="M12 9.929L16.571 14.5 18.071 13 12 6.929 5.929 13 7.429 14.5z"></path>
            </svg>
        </div>
    </button>

    <div class="w-auto bg-gray-900 py-5 m-auto">
        <a href="{{ url_for('FormInicio') }}">
            <img class="w-10 m-auto" src="{{ url_for('static', filename='logo/logo-rodape.svg') }}" alt="logo-rodape">
        </a>
    </div>

    <script src="{{ url_for('static', filename='js/nav-scroll.js') }}"></script>
</body>

</html>

