<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INFOLIBRI - Resultados</title>
    <link href="{{ url_for('static', filename='css/node_modules/tailwindcss/dist/tailwind.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!--[if IE]><link rel="shortcut icon" href="/includes/logo/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='logo/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo/favicon.png') }}">
</head>

<body class=" mx-auto items-center">


<form action="{{ url_for('JSON') }}" id="formJSON" method="post"></form>
<form action="{{ url_for('XML') }}" id="formXML" method="post"></form>
<form action="{{ url_for('ImportarDados') }}" id="FormImportar" method="post"><form>


    <a href="{{ url_for('FormInicio') }}">
        <img class="m-auto logo w-40 mt-6" src="{{ url_for('static', filename='logo/logo.svg') }}" alt="logo">
    </a>

    <div class="mt-20 mb-20 w-full justify-center min-h-screen">
    <div name="pais" value={{form_pais}}>
    </div>
        <!-- Two columns -->
    {% for resultadosIniciais in resultInicial %}
        <div class="struct w-full m-auto px-12">
            <div class="p-8 flex sm:flex-col md:flex-col">
                <div class="rounded overflow-hidden shadow-lg">
                    <div id="txt" class="px-6 py-4 mt-4">
                        <ul  class="field">
                            <li id="txt" class="font-bold text-x mb-2">Titulo:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Título'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">ISBN:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['ISBN'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Editor(a):</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Editor(a)'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Série:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Série'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Volume:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Volume'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Coleção:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Coleção'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Edição:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Edição'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Ano da Edição:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Ano da Edição'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Tipo de suporte:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Tipo de Suporte'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Quantidade de páginas:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Páginas'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Quantidade de páginas:</li>
                            {% for participacao in resultadosIniciais['Participações'] %}
                                <p id="copy" class="text-gray-700 text-base ml-3"> {{ participacao }}</p>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="px-6 py-4">
                    
                    {% if status_dados == "Dados importados!" %}
                        <span class="inline-block bg-red-200 bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded text-sm font-semibold mr-2">{{status_dados}}
                        </span>
                    {% endif %}
                    {% if status_dados == "Importar dados" %}
                        <form action="{{ url_for('ImportarDados') }}" method="post">
                            <button name="isbn-insert" type="submit" value="{{ isbn }}"
                                class="inline-block bg-gray-200 bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded text-sm font-semibold mr-2">{{status_dados}}
                            </button>
                            <option name="pais" value="{{ pais }}"></option>
                        <form>
                    {% endif %}
                        <button name="xml_isbn_pais" type="submit" value="{{ resultadosIniciais['ISBN'] }}{{ pais }}" form="formXML" class="inline-block float-right bg-gray-200 bg-green-500 hover:bg-green-700 text-green-700 hover:text-white py-2 px-4 rounded text-sm font-semibold mr-2">XML
                        </button>
                        <button name="json_isbn_pais" type="submit" value="{{ resultadosIniciais['ISBN'] }}{{ pais }}" form="formJSON"
                            class="inline-block float-right bg-gray-200 bg-yellow-500 hover:bg-yellow-700 text-yellow-700 hover:text-white py-2 px-4 rounded text-sm font-semibold mr-2">JSON
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    
    {% for resultadosIniciais in resultFinal %}
        <div class="struct w-full m-auto px-12">
            <div class="p-8 flex sm:flex-col md:flex-col">
                <div class="rounded overflow-hidden shadow-lg">
                    <div id="txt" class="px-6 py-4 mt-4">
                        <ul  class="field">
                            <li id="txt" class="font-bold text-x mb-2">Titulo:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Título'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">ISBN:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['ISBN'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Editor(a):</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Editor(a)'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Série:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Série'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Volume:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Volume'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Coleção:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Coleção'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Edição:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Edição'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Ano da Edição:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Ano da Edição'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Tipo de suporte:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Tipo de Suporte'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Quantidade de páginas:</li>
                            <li class="text-gray-700 text-base ml-3">{{ resultadosIniciais['Páginas'] }}</li>
                        </ul>
                        <ul class="field">
                            <li class="font-bold text-x mb-2">Quantidade de páginas:</li>
                            {% for participacao in resultadosIniciais['Participações'] %}
                                <p id="copy" class="text-gray-700 text-base ml-3"> {{ participacao }}</p>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="px-6 py-4">
                    
                    {% if status_dados == "Dados importados!" %}
                        <span class="inline-block bg-red-200 bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded text-sm font-semibold mr-2">{{status_dados}}
                        </span>
                    {% endif %}
                    {% if status_dados == "Importar dados" %}
                        <button name="isbn-insert" type="submit" form="FormImportar" value="{{ isbn }}{{ pais }}"
                                class="inline-block bg-gray-200 bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded text-sm font-semibold mr-2">{{status_dados}}
                        </button>
                    {% endif %}
                        <button name="xml_isbn_pais" type="submit" value="{{ isbn }}{{ pais }}" form="formXML" class="inline-block float-right bg-gray-200 bg-green-500 hover:bg-green-700 text-green-700 hover:text-white py-2 px-4 rounded text-sm font-semibold mr-2">XML
                        </button>
                    <button name="json_isbn_pais" type="submit" value="{{ isbn }}{{ resultadosIniciais['ISBN'] }}" form="formJSON"
                            class="inline-block float-right bg-gray-200 bg-yellow-500 hover:bg-yellow-700 text-yellow-700 hover:text-white py-2 px-4 rounded text-sm font-semibold mr-2">JSON
                    </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    

    <div class="w-40 m-auto py-8 px-3">
        <form method="get">
            <button formaction="{{ url_for('FormInicio') }}"
            class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 w-full border-b-4 border-blue-700 hover:border-blue-500 rounded">
                Voltar
            </button>
        <form>
    </div>

    <button class="bg-blue-600 hover:bg-gray-700" onclick="topFunction()" id="scroll-top" title="Volta ao topo">
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                viewBox="0 0 24 24" style=" fill: #fff;">
                <path d="M12 9.929L16.571 14.5 18.071 13 12 6.929 5.929 13 7.429 14.5z"></path>
            </svg>
        </div>
    </button>

    <div class="w-auto bg-gray-900 py-5 m-auto">
        <a href="{{ url_for('FormInicio') }}">
            <img class="w-10 m-auto" src="{{ url_for('static', filename='logo/logo-rodape.svg') }}" alt="logo-rodape">
        </a>
    </div>

    <script src="{{ url_for('static', filename='js/nav-scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
</body>

</html>
