<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="{{ url_for('static', filename='css/node_modules/tailwindcss/dist/tailwind.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='logo/favicon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo/favicon.png') }}">
</head>

<body class=" mx-auto items-center">

    <a href="{{ url_for('FormInicio') }}">
        <img class="m-auto logo w-40 mt-6" src="{{ url_for('static', filename='logo/logo.svg') }}" alt="logo">
    </a>
    <div class="w-full h-12 flex justify-center min-h-screen">

        <form class="w-full max-w-lg m-auto" action={{ url_for('Resultado') }} method='post'>
            <div class="w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                    LOCAL DE BUSCA
                </label>
                <div class="relative">
                    <select name="pais"
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-3 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-state">
                        <option value="Brasil"> Brasil </obtion>
                        <option value="EUA"> Estados Unidos </obtion>
                        <option value="Brasil"> Portugal (ainda não disponível) </obtion>
                        <option value="Brasil"> Estados Unidos (ainda não disponível)</obtion>
                        <option value="Brasil"> Espanha (ainda não disponível) </obtion>
                        <option value="Brasil"> França (ainda não disponível) </obtion>
                        <option value="Brasil"> Reino Unido (ainda não disponível) </obtion>
                        <option value="Brasil"> Alemanha (ainda não disponível) </obtion>
                        <option value="Google"> ** Google Books **</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                    </div>
                </div>
            </div>

            <div class="w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                    ISBN / TÍTULO
                </label>
                <div class="relative">
                    <select name="busca_por"
                        class="block appearance-none w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-3 mb-3 leading-tight focus:outline-none focus:bg-white">
                        <option value="ISBN">ISBN</option>
                        <option value="titulo">Título</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                    </div>
                </div>
            </div>

            <div class="w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    DADOS
                </label>
                <input 
                    class="appearance-none block w-full bg-gray-200 text-gray-700 italic border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    name="dados" type="text" placeholder="Entre com os dados aqui...">
                <p class="text-gray-600 text-xs italic">Digite os dados desejados aqui.</p>
            </div>


            <div class="w-full px-3 mb-6">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 w-full border-b-4 border-blue-700 hover:border-blue-500 rounded">
                    <a>Buscar</a>
                </button>
            </div>
        </form>
    </div>
    <div class="w-auto bg-gray-900 py-5 m-auto">
        <a href="{{ url_for('FormInicio') }}">
            <img class="w-10 m-auto" src="{{ url_for('static', filename='logo/logo-rodape.svg') }}" alt="logo-rodape">
        </a>
    </div>
</body>

</html>
