.logo {
  position: static;
  margin-bottom: -100px !important;
}

footer{
background: #ffab62;
width: 100%;
height: 100px;
position: absolute;
bottom: 0;
left: 0;
}

/*Elementos resultantes da busca*/
.field li {
  display: inline;
}

.struct {
  position: relative;
  display: block !important;
  margin: auto; 
}

/*Botão volta ao topo*/
#scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}
